<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Tarefas</title>
</head>
<body>
    <h1>Confimação</h1>

    <form method="post">
        {% csrf_token %}
        <label>
            Você realmente quer excluir a tarefa <b>{{ tarefa.titulo }}</b>?
        </label>
        <button type="submit">Excluir</button>
    </form>
</body>
</html>